doctype html
html(lang="en")
  head
    title #{pageTitle} | #{siteName}
    script(type='text/javascript')
  body
    header
        nav
            ul
                li
                  a(href="/") Home
                if loggedIn
                  li
                    a(href="/video/upload") Upload video
                  li 
                    a(href="/user/edit") Edit Profile
                  li 
                    a(href="/user/logout") Log Out
                else
                  li
                    a(href="/signup") Sign up
                  li
                    a(href="/login") Sign in
                li
                  a(href="/search") Search video
    h1 #{pageTitle} Page!
    block content
  include partials/footer.pug