doctype html
html(lang="en")
  head
    title #{pageTitle} | Wetube
    script(type='text/javascript')
  body
    header
        nav
            ul
                li 
                    if fakeUser.loggedIn
                        a(href="/login") Logout
                    else
                        a(href="/login") Login
                li
                  a(href="/") Home
                li
                  a(href="/search") Search video
                li
                  a(href="/video/upload") Upload video
                
    h1 #{pageTitle} Page!
    block content
  include partials/footer.pug