doctype html
html(lang="en")
  head
    title #{pageTitle} | Wetube
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    header
        nav
            ul
                li 
                    if fakeUser.loggedIn
                        a(href="/login") Logout
                    else
                        a(href="/login") Login
                li
                  a(href="/video/upload") Upload video
    h1=pageTitle
    block content
  include partials/footer.pug