extends base.pug
include mixins/video.pug

block content 
  h2 home! #{potato}
  hr
  div.video-grid 
    each video, index in videos
      +video(video, index)
    else
      span.empty__message No videos found