extends base.pug
include mixins/video.pug

block content
    h1 Hello
    h2 This is #{user.name}'s page || #{loggedInUser._id}
    each video, index in user.videos
      +video(video, index)
    else
      li There is no values.
      li There is no values.
      li There is no values.
      li There is no values.
      li There is no values.
      li There is no values.