extends base.pug

block content
    if(errorMessage)
        span=errorMessage
    p filesize는 2,000,000,000B, 대략 2GB까지만 됩니다.
    form(method="POST", action="/video/upload", enctype="multipart/form-data")
        label(for="videoo")
        input(type="file", accept="video/*", required, id="videoo", name="video")
        input(name="tomato", placeholder="Title!", required, maxLength: 50)
        input(name="description", placeholder="Description!", required, maxLength: 140)
        input(name="hashtags", placeholder="Hashtags! separated by comma.", required)
        input(value="push!!!", type="submit")