extends base.pug

block content
    h2 업로드 페이지 입니다.
    form(method="POST", action="/video/potTestkkk")
        input(name="tomato", placeholder="upload!!!!", required)
        input(value="push!!!", type="submit")